<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style media="screen">
  body{
    background-color: #D8DEDA;
  }
</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">myIplTV</a>
    </div>
    <ul class="nav navbar-nav">
              <li><a  class="active" href="#"><strong>Home</strong></a></li>
        <li>&nbsp&nbsp&nbsp&nbsp&nbsp</li>
        <li> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>

      <li ><a href="#">   </a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Season</strong>
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/home/2008/">2008</a></li>
          <li><a href="/home/2009/">2009</a></li>
          <li><a href="/home/2010/">2010</a></li>
          <li><a href="/home/2011/">2011</a></li>
          <li><a href="/home/2012/">2012</a></li>
          <li><a href="/home/2013/">2013</a></li>
          <li><a href="/home/2014/">2014</a></li>
          <li><a href="/home/2015/">2015</a></li>
          <li><a href="/home/2016/">2016</a></li>
          <li><a href="http://127.0.0.1:8000/home/2017/">2017</a></li>
          <li><a href="http://127.0.0.1:8000/home/2018/">2018</a></li>
          <li><a href="http://127.0.0.1:8000/home/2019/">2019</a></li>
        </ul>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          {% ifnotequal user.is_authenticated 1 %}
          <li><a href="/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% else %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
            <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endifnotequal %}
    </ul>
  </div>
</nav>
<center>
<div class="container">
      <h1> Ipl Season {{season}}</h1>
</div>
</center>

<div class="container">
<table border="1" class="table table-striped  table-hover"  >
    <tr>
       <th  style="background-color:lightblue;border:1px solid black;"><center>Teams Played</center></th>
       <th style="background-color:lightblue;border:1px solid black;"><center>Venue</center></th>
       <th  style="background-color:lightblue;border:1px solid black;"><center>Toss</center></th>
       <th style="background-color:lightblue;border:1px solid black;"><center>Winner</center></th>
       <th style="background-color:lightblue;border:1px solid black;"><center>Man of the Match</center></th>
        <th style="background-color:lightblue;border:1px solid black;"><center>Details of the Match</center></th>
    </tr>
    {% for item in matches %}
<tr>
    <td><b>{{item.0}}</b> vs <b>{{item.1}}</b></td>
    <td>{{item.2}}</td>
    <td><b>{{item.3}}</b> won, and elected to {{item.4}} first</td>
    <td><b>{{item.5}}</b></td>
    <td>{{item.6}}</td>
    <td><a class="btn btn-info" href="{% url 'matchdetails' item.7 %}">View Match Details</a></td>
</tr>
{% endfor %}
</table>
    </div>
<center>
<div class="pagination">
    <span class="step-links">
        {% if matches.has_previous %}
            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-primary" href="?page={{ matches.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
        </span>

        {% if matches.has_next %}
            <a class="btn btn-primary" href="?page={{ matches.next_page_number }}">next</a>
            <a class="btn btn-primary" href="?page={{ matches.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </center>
</body>
</html>
