<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">myIplTV</a>
    </div>
    <ul class="nav navbar-nav">
             <li><a href="/home/"><strong>Home</strong></a></li>
        <li>&nbsp&nbsp&nbsp&nbsp&nbsp</li>
        <li> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><stromg>Team name</stromg>
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a  href="/teamhomepage/1/" >Royal Challengers Bangalore</a></li>
              <li><a  href="/teamhomepage/2/" >Mumbai Indians</a></li>
              <li><a  href="/teamhomepage/3/" >Sunrisers Hyderabad</a></li>
              <li><a  href="/teamhomepage/4/" >Rajasthan Royals</a></li>
              <li><a  href="/teamhomepage/5/" >Delhi Capitals</a></li>
              <li><a  href="/teamhomepage/6/" >Kings XI Punjab</a></li>
              <li><a  href="/teamhomepage/7/" >Chennai Super Kings</a></li>
              <li><a  href="/teamhomepage/8/" >Gujarat Lions</a></li>
              <li><a  href="/teamhomepage/9/" >Rising Pune Supergiant</a></li>
              <li><a  href="/teamhomepage/10/" >Pune Warriors</a></li>
              <li><a  href="/teamhomepage/11/" >Kolkata Knight Riders</a></li>
              <li><a  href="/teamhomepage/12/" >Kochi Tuskers Kerala</a></li>
              <li><a  href="/teamhomepage/13/" >Deccan Chargers</a></li>
              <li><a  href="/teamhomepage/14/" >Delhi Daredevils</a></li>


          </ul>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          {% ifnotequal user.is_authenticated 1 %}
          <li><a href="/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% else %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
            <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endifnotequal %}
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
      <center>
      <table>
          <tr>
              <td><h2>{{team}}</h2></td>
          </tr>
      </table>
          </center>
  </div></div>
      {% for item in stats %}
<div class="container">
  <div class="jumbotron">
      <h4>Season :<strong>{{item.0}}</strong></h4>
      <h4>Table position  :<strong>{{item.1}}</strong></h4>
      <h4>total no of matches :<strong>{{item.2}}</strong></h4>
      <h4>won :<strong>{{item.3}}</strong></h4>
      <h4>lost :<strong>{{item.4}}</strong></h4>
      <h3>Position :<strong>{{item.5}}</strong></h3>
  </div>
</div>
      {% endfor %}
</body>
</html>